openapi: 3.0.3
info:
  title: CoralKita API
  version: 1.0.0
servers:
  - url: https://api.example.com/v1
paths:
  /login:
    get:
      summary: OpenAPI
      responses:
        "200":
          description: OK
          content:
            application/json:
              schema:
                type: object
                properties:
                  message: { type: string, example: "hello world" }
